
<% if(typeof errors != 'undefined'){ %>
  <% errors.forEach(error => { %>
      <div class="error">
        ERROR: <%= error.msg %>
      </div>
  <%  }); %>
<% } %>


<% if(error != ''){ %>
      <div class="error">
      ERROR:  <%= error %>
      </div>
<% } %>


<% if(successMsg != ''){ %>
      <div class="error">
      SUCCESS:  <%= successMsg %>
      </div>
<% } %>


<% if(message != ''){ %>
      <div class="error">
      message:  <%= message %>
      </div>
<% } %>
